.secscan/
node_modules/
*.zip
.DS_Store
zi[A-Za-z0-9][A-Za-z0-9][A-Za-z0-9][A-Za-z0-9][A-Za-z0-9][A-Za-z0-9]

CLAUDE.md
/.idea/.gitignore
/.idea/markdown.xml
/.idea/misc.xml
/.idea/modules.xml
/.idea/Swiftec Code scanner.iml
/.idea/vcs.xml
